.footer-section{
    background-color: rgba(250, 248, 248, 0.958);
    height: 12vh;
    width: 100vw;
    border-top: 2px solid rgb(207, 206, 206);
    display: flex;
    justify-content: center;
}

.footer-section p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
}

.TC{
    font-size: 14px;
    color: rgb(138, 138, 138);
    margin-left: 12px;
}