.title{
  margin-left: 2rem;
}

.title::before{
   content: "";
   background-color: grey;
   height: 15px;
   width: 15px;
   position: absolute;
   border-radius: 50%;
   display: block;
}

.programmatic::before{
  background-color: #08c5a8;
  left: 1.5rem;
  top: 16rem;
}

.facebook::before{
  background-color: #4267B2;
  left: 14.5rem;
  top: 16rem;
}

.search::before{
  background-color: #DB4437;
  left: 27.7rem;
  top: 16rem;
}

.multi-range-slider{
  margin-top: 1.5rem;
}

.slider {
    position: relative;
    height: 10px;
    z-index: 1;
  }
  
  .slider > .track {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(174, 173, 173);
  }
  
  .slider > .range-left {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    background-color: #08c5a8;
  }
  
  .slider > .range-middle {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 20%;
    right: 40%;
    bottom: 0;
    background-color: #4267B2;
  }
  
  .slider > .range-right {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    background-color: #DB4437;
  }
  
  .slider > .thumb {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
  }
  
  .slider > .thumb.left {
    right: 80%;
    border: 2px solid #08c5a8;
    transform: translate(15px, -6px);
  }
  
  .slider > .thumb.middle {
    right: 40%;
    border: 2px solid #4267B2;
    transform: translate(15px, -6px);
  }
  
  .slider > .thumb.right {
    right: 0;
    border: 2px solid #DB4437;
    transform: translate(15px, -6px);
  }
  
  input[type=range] {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    -webkit-appearance: none;
    transform: translate(-1%, 0);
    opacity: 0;
  }
  
  input[type=range]::-webkit-slider-thumb{
    width: 20px;
    pointer-events: all;
    height: 20px;
    border-radius: 0;
    border: 0 none;
    background-color: indigo;
    -webkit-appearance: none;
  }