.Box{
    height: 7rem;
    width: 7rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.Box input{
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 5px;
}

.icon{
    font-size: 26px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
}

.Box span{
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 1rem;
    text-transform: capitalize;
}