.App{
    overflow-x: hidden;
}

.mainLayout{
    margin-top: 2rem;
    padding: 0 4rem;
    margin-bottom: 6rem;
}

.newCampaign_heading{
    font-weight: 700;
    margin: 2rem auto 1rem auto;
    font-size: 17px;
}

.rows{
    margin-bottom: 1.5rem;
}

.buttons{
    float: right;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.buttons > button{
    padding: 5px 35px;
    border-radius: 25px;
    color: white;
    background-color: #33225e;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 1.5rem;
}

